/* Mixin */
$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
  } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
    @content;   
  }
}  

@mixin desktop { @media (min-width: #{$desktop-width}) {     
    @content;
  } 
}

/* Theme */
$primary: #f02d34;
$primary-light: #fcf5f5;
$secondary: #324d67;
$green: #31a831;
