@use "../../styles/" as *;
.newsletter {
    height: 60vh;
    color: $secondary;
    background-color: $primary-light;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
        font-size: 70px;
        margin-bottom: 20px;
        @include mobile {
            font-size: 2.8rem;
        }
    }
    span {
        display: block;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 20px;
        @include mobile {
            text-align: center;
        }
    }

    .contact {
        width: 50%;
        height: 40px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        border: 1px solid $primary;
        @include mobile {
            width: 80%;
        }
        input {
            border: none;
            flex: 8;
            padding-left: 20px;
        }
        button {
            flex: 1;
            margin-right: -1px;
            margin-bottom: -1px;
            border: 2px solid $primary;
            background-color: $primary;
            color: white;
        }
    }
}
