@use "../../common/styles/" as *;
.categories {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    @include mobile {  
        padding: 0;
        flex-direction: column;
    }
}