@use "../../styles/" as *;
.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  @include mobile {
    display: none;
  }
  
  .arrow {
    width: 50px;
    height: 50px;
    background-color: $primary-light;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.5;
    z-index: 2;
  }
  .left {
    left: 10px;
  }
  .right {
    right: 10px;
  }
  .banner__wrapper {
    height: 100%;
    display: flex;
    transition: all 1.5s ease;
    transform: translateX(-100vw);
    .banner__content {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      background-color: red;
      .banner__content--img {
        height: 100%;
        flex: 1;
        img {
          height: 80%;
        }
      }
      .banner__content--info {
        flex: 1;
        padding: 50px;
        h1 {
          font-size: 70px;
        }
        p {
          margin: 50px 0px;
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 3px;
        }
        button {
          padding: 10px;
          font-size: 20px;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}

