@use "../../styles/" as *;
.announcement {
    height: 30px;
    background-color: $primary;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    @include mobile {
        font-size: .8rem;
    }
}