@import "../../App.scss";
.cart {
    .wrapper {
        padding: 20px;
        @include mobile {
            padding: 10px;
        }
        h1 {
            font-weight: 300;
            text-align: center;
        }
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            button {
                padding: 10px;
                font-weight: 600;
                cursor: pointer;
                background-color: transparent;
            }
            .content {
                @include mobile {
                    display: none;
                }
                span {
                    text-decoration: underline;
                    cursor: pointer;
                    margin: 0px 10px;
                }
            }
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            @include mobile {
                flex-direction: column;
            }
            .content {
                flex: 3;
                .product {
                    display: flex;
                    justify-content: space-between;
                    @include mobile {
                        flex-direction: column;
                    }
                    .product__details {
                        flex: 2;
                        display: flex;
                        img {
                            width: 200px;
                        }
                        div {
                            padding: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            .color {
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                            }
                        }
                    }

                    .price__details {
                      flex: 1;
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;

                      .price__details--amount {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        p {
                          font-size: 24px;
                          margin: 5px;
                          @include mobile {
                            margin: 5px 15px;
                          }
                        }
                      }
                      .price__details--price {
                        font-size: 30px;
                        font-weight: 200;
                        @include mobile {
                          margin-bottom: 20px;
                        }
                      }
                    }
                }

                hr {
                  background-color: #eee;
                  border: none;
                  height: 1px;
                }
            }

            .summary {
              flex: 1;
              border: 0.5px solid lightgray;
              border-radius: 10px;
              padding: 20px;
              height: 50vh;
              h1 {
                font-weight: 200;
              }
              .summary__items {
                margin: 30px 0px;
                display: flex;
                justify-content: space-between;
              }
              button {
                width: 100%;
                padding: 10px;
                background-color: black;
                color: white;
                font-weight: 600;
              }
            }
        }
    }
}